<table class="table table-sm table-striped table-hover border-0" style="font-size: 0.9rem;">
    <thead>
        <tr>
            <th scope="col" class="border-0"></th>
            <th scope="col" class="border-0">Id</th>
            <th scope="col" class="border-0">Nombre</th>
            <th scope="col" class="border-0">Subcategoria</th>
            <th scope="col" class="text-end border-0"></th>
        </tr>
    </thead>
    <tbody>
        @for (subsubcategory of (paginationService.pagination$ | async)?.data; track $index) {
        <tr class="border-0" (dblclick)="handleDoubleClick(subsubcategory)"
            (click)="selectSubSubCategory(subsubcategory)"
            [ngClass]="{'table-primary': selectedSubSubCategory?.id  == subsubcategory.id}">
            <td class=" border-0">{{ $index + 1}}</td>
            <td class=" border-0">{{subsubcategory.id}}</td>
            <td class=" border-0">{{subsubcategory.name}}</td>
            <td class=" border-0">{{subsubcategory.subCategory.name}}</td>
            <td class=" border-0"></td>
        </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-8">
        <app-pagination [paginateParameters]="paginateParameters"></app-pagination>
    </div>
    <div class="col-4 text-end">
        <button class="btn btn-primary text-light rounded-0 btn-sm mx-1" type="button" (click)="openStoreModal()">
            Agregar
        </button>
        <button [disabled]="!selectedSubSubCategory" class="btn btn-danger text-light rounded-0 btn-sm mx-1"
            type="button" (click)="delete()">
            Eliminar
        </button>
    </div>
</div>


<ng-template #modalStoreSubSubCategory let-close="close" class="rounded-0">
    <form [formGroup]="formStoreSubSubCategories" (ngSubmit)="store()">
        <div class="modal-header">
            <h5 class="modal-title">Agregar sub subcategoria</h5>
            <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"
                (click)="close()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <label class="input-group-text" id="inputGroup-sizing-sm">Nombre</label>
                            <input formControlName="name" class="form-control form-control-sm rounded-0">
                        </div>
                        <small id="from_name_help"
                            *ngIf="validatorService.validateInput(formStoreSubSubCategories, 'name')" class="text-danger">
                            Requerido
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <div class="input-group input-group-sm">
                            <label class="input-group-text" id="inputGroup-sizing-sm">Subcategoria</label>
                            <select formControlName="SubcategoryId" class="form-select form-select-sm rounded-0"
                                name="" id="">
                                <option selected disabled value="">Selecciona una subcategoria</option>
                                @for (subcategory of subcategories; track $index) {
                                <option value="{{subcategory.id}}">{{subcategory.name}}</option>
                                }
                            </select>
                        </div>
                        <small id="from_name_help"
                            *ngIf="validatorService.validateInput(formStoreSubSubCategories, 'SubcategoryId')"
                            class="text-danger">
                            Requerido
                        </small>
                    </div>
                </div>

                <div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary text-white btn-sm rounded-0" (click)="close()">
                            Cerrar
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm rounded-0">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #modalContent let-close="close" class="rounded-0">
    <form [formGroup]="formEditSubSubCategories" (ngSubmit)="update()">
        <div class="modal-header">
            <h5 class="modal-title">{{selectedSubSubCategory?.name}}</h5>
            <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"
                (click)="close()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <label class="input-group-text" id="inputGroup-sizing-sm">Nombre</label>
                            <input formControlName="name" class="form-control form-control-sm rounded-0">
                        </div>
                        <small id="from_name_help"
                            *ngIf="validatorService.validateInput(formEditSubSubCategories, 'name')" class="text-danger">
                            Requerido
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <div class="input-group input-group-sm">
                            <label class="input-group-text" id="inputGroup-sizing-sm">Subcategoria</label>
                            <select formControlName="SubcategoryId" class="form-select form-select-sm rounded-0"
                                name="" id="">
                                <option selected disabled value="">Selecciona una subcategoria</option>
                                @for (subcategory of subcategories; track $index) {
                                <option value="{{subcategory.id}}">{{subcategory.name}}</option>
                                }
                            </select>
                        </div>
                        <small id="from_name_help"
                            *ngIf="validatorService.validateInput(formEditSubSubCategories, 'SubcategoryId')"
                            class="text-danger">
                            Requerido
                        </small>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary text-white btn-sm rounded-0" (click)="close()">
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm rounded-0">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </form>
</ng-template>