<div class="row">
    <div class="col-12">
        <div class="container w-75">
            <div class="card rounded-0 p-3">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="text-start mx-2">
                        <h3 class="text-primary">Areas</h3>
                    </div>
                    <div class="input-group w-50 mx-2">
                        <span class="input-group-text rounded-0" id="basic-addon1">
                            <i class="bi bi-search" style="font-size: .7rem;"></i>
                        </span>
                        <input #inputTerm type="text" class="form-control form-control-sm rounded-0"
                            placeholder="Nombre" (input)="search($event)">
                    </div>
                    <div class="text-end w-75">
                        @if (selectedArea) {
                        Area seleccinoada: <span class="fw-bold"> {{selectedArea!.name}}</span>
                        } @else {
                        Sin selecinoar area
                        }
                    </div>
                </div>
                <table class="table table-striped table-hover table-sm border-0" style="font-size: 0.9rem;">
                    <thead>
                        <tr>
                            <th class="border-0 position-relative " (click)="orderBy('id')">
                                <i [ngClass]="{'bi bi-caret-up-fill': orderByAsc && orderByField === 'id', 'bi bi-caret-up': !(orderByAsc && orderByField === 'id')}"
                                    class="position-absolute top-0 start-0" style="font-size: 0.9rem;"></i>
                                <i [ngClass]="{'bi bi-caret-down-fill': !(orderByAsc && orderByField === 'id'), 'bi bi-caret-down': orderByAsc && orderByField === 'id'}"
                                    class="position-absolute top-50 start-0"
                                    style="font-size: 0.8rem; margin-top: -5px;"></i>
                                <span style="margin-left: 15px;">Id</span>
                            </th>
                            <th class="border-0 position-relative " (click)="orderBy('name')">
                                <i [ngClass]="{'bi bi-caret-up-fill': orderByAsc && orderByField === 'name', 'bi bi-caret-up': !(orderByAsc && orderByField === 'name')}"
                                    class="position-absolute top-0 start-0" style="font-size: 0.9rem;"></i>
                                <i [ngClass]="{'bi bi-caret-down-fill': !(orderByAsc && orderByField === 'name'), 'bi bi-caret-down': orderByAsc && orderByField === 'name'}"
                                    class="position-absolute top-50 start-0"
                                    style="font-size: 0.8rem; margin-top: -5px;"></i>

                                <span style="margin-left: 15px;">Nombre</span>
                            </th>
                            <th class="border-0  position-relative text-start">
                                <span>Rutas</span>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (line of areas; track $index) {
                        <tr class="border-0" (dblclick)="handleDoubleClick(line)" (click)="selectColor(line)"
                            [ngClass]="{'table-primary': selectedArea?.id  == line.id}">

                            <td class=" border-0">{{line.id}}</td>
                            <td class=" border-0">{{line.name}}</td>
                            <td class="border-0">
                                <button class="text-primary bg-transparent border-0">Ver rutas</button>
                            </td>

                        </tr>
                        }
                        @if (areas.length == 0) {
                        <tr>
                            <td colspan="8" class="border-0 text-center">
                                <h5> Lo sentimos no se encontraron areas.</h5>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-8">
                        <app-pagination [paginateParameters]="paginateParameters"></app-pagination>

                    </div>
                    <div class="col-4 text-end">
                        <button class="btn btn-primary text-light rounded-0 btn-sm mx-1" type="button"
                            (click)="openStoreModal()">
                            Agregar
                        </button>
                        <button [disabled]="!selectedArea" class="btn btn-danger text-light rounded-0 btn-sm mx-1"
                            (click)="delete()" type="button">
                            Eliminar
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #modalUpdate let-close="close" class="rounded-0">
    <form [formGroup]="formEditArea" (ngSubmit)="update()">
        <div class="modal-header">
            <h5 class="modal-title">{{selectedArea?.name}}</h5>
            <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"
                (click)="close()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label for="" class="form-label">Nombre</label>
                        <input type="text" formControlName="name" class="form-control" name="" id=""
                            aria-describedby="helpId" placeholder="" />
                        <small *ngIf="validatorService.validateInput(formEditArea, 'name')" id="helpId"
                            class="form-text text-danger">Requerido</small>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary text-white btn-sm rounded-0" (click)="close()">
                Cerrar
            </button>
            <button type="submit" class="btn btn-primary btn-sm rounded-0">
                Gaurdar
            </button>
        </div>
    </form>
</ng-template>

<ng-template #modalStore let-close="close" class="rounded-0">
    <form [formGroup]="formStoreArea" (ngSubmit)="store()">
        <div class="modal-header">
            <h5 class="modal-title">Crear nueva line</h5>
            <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"
                (click)="close()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label for="" class="form-label">Nombre</label>
                        <input type="text" formControlName="name" class="form-control" name="" id=""
                            aria-describedby="helpId" placeholder="" />
                        <small *ngIf="validatorService.validateInput(formStoreArea, 'name')" id="helpId"
                            class="form-text text-danger">Requerido</small>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary text-white btn-sm rounded-0" (click)="close()">
                Cerrar
            </button>
            <button type="submit" class="btn btn-primary btn-sm rounded-0">
                Gaurdar
            </button>
        </div>
    </form>
</ng-template>